<div class="control-group">
    <div class="form-group floating-label-form-group controls">
        <label>Title</label>
        <input name="title" class="form-control" type="text" placeholder="Title" required/>
    </div>
</div>
<div class="control-group">
    <div class="form-group floating-label-form-group controls">
        <label>Subtitle</label>
        <input name="subtitle" class="form-control" type="text" placeholder="Subtitle" />
    </div>
</div>
<div class="control-group">
    <div class="form-group floating-label-form-group controls">
        <label>Body Post</label>
        <textarea name="content" class="form-control"  rows="5" placeholder="Body Post" required></textarea>
    </div>
</div>
<div class="control-group">
    <div class="form-group floating-label-form-group controls">
        <label>Published at</label>
        <input name="date" class="form-control" type="date" placeholder="Date" />
    </div>
</div>
<br />
<button class="btn btn-primary" type="submit">Submit</button>